{*

Antworten
=========

ID = Themen-ID
HASH = Hash-Wert (WICHTIG!)
CAPTCHA = HTML-Code, um das Bild für die visuelle Bestätigung auszugeben (nur für Gast-Poster!)
USERNAME = Eingabe: Benutername
TITLE = Eingabe: Titel
TEXT = Eingabe: Text
SUBSCRIPTION = Wenn der Benutzer das Thema abonniert hat, gibt diese Variable den aktuellen Status an
TRANSFORM_LINKS = Eingabe: Links automatisch transformieren (AN/AUS)
ALLOWCODES = Eingabe: Codes erlauben (AN/AUS)
ALLOWSMILIES = Eingabe: Smilies erlauben (AN/AUS)
ALLOWSIG = Eingabe: Signatur anfügen (AN/AUS)
SET_CODES = Codes sind global erlaubt?
SET_SMILIES = Smilies sind global erlaubt?


Anhänge
-------
ATTACH = Ist es dem Benutzer erlaubt Anhänge hinzuzufügen?
ATTACHMENT_TYPES = Erlaubte Dateitypen
ATTACHMENT = Anhänge


Smileys
-------
SMILEYLIST
SMILEYLIST.INSERTCODE = Code für die Javascript-Funktion zum Einfügen
SMILEYLIST.IMAGE = Pfad zum Smiley-Bild


Bestehende Beiträge
-------------------
POST = Liste der letzten 10 Beiträge in diesem Thema
POST.ID = ID
POST.USERID = Benutzer-ID des Autors
POST.USERNAME = Autorname
POST.TEXT = Text (ohne Codes)
POST.TIME = Zeit (Timestamp)

*}

{if PREVIEW}
<table width="100%">
<tr><td class="form_header">{LANG[PREVIEW]}</td></tr>
<tr><td class="cell1">{PREVIEW}</td></tr>
</table>

<div style="height:20px;">&nbsp;</div>
{/if}

<form name="message" action="newpost.php" method="post">
<table width="100%">
<colgroup>
<col width="25%" />
<col width="75%" />
</colgroup>
<tr><td class="form_header" colspan="2">{LANG[NEWPOST]}</td></tr>
<tr class="cell1">
<td>{LANG[USERNAME]}:</td>
<td>{if LOGGED_ID}{LOGGED_USERNAME}{else}<input type="text" name="username" value="{USERNAME}" class="textbox" maxlength="30" tabindex="1" style="width:200px;" />{/if}</td>
</tr>
<tr class="cell2">
<td>{LANG[TITLE]}: <span class="small">({LANG[OPTIONAL]})</span></td>
<td><input type="text" name="title" value="{TITLE}" class="textbox" maxlength="255" tabindex="1" style="width:400px;" /></td>
</tr>
<tr class="cell1">
<td>
{LANG[TEXT]}:<br /><br />
<span class="small">&raquo; <a href="javascript:showcodes()">{LANG[CODES]}</a><br />&raquo; <a href="javascript:showsmilies('..','message','text')">{LANG[SMILEYS]}</a></span><br /><br /><br />

<table align="center" class="smileylist">
{list SMILEYLIST}{++COUNTER}
{if COUNTER%4==1}<tr>{/if}
<td><a href="javascript:insert_code('text','{SMILEYLIST.INSERTCODE}','','')"><img src="{SMILEYLIST.IMAGE}" alt="" /></a></td>
{if COUNTER%4==0}</tr>{/if}
{/list}
{if COUNTER%4}{repeat 4-COUNTER%4}<td>&nbsp;</td>{/repeat}</tr>{/if}
</table>
</div>

</td>
<td>
{include editor.html}
<textarea name="text" id="text" rows="15" cols="80" tabindex="1" style="width:98%">{TEXT}</textarea>
</td>
</tr>
{if CAPTCHA}<tr class="cell2">
<td>{LANG[CAPTCHA]}:</td>
<td>{CAPTCHA} =&gt; <input type="text" name="captcha" class="textbox" tabindex="1" style="width:100px;" /></td>
</tr>{/if}

{if ATTACH}<tr><td class="space1" colspan="2">&nbsp;</td></tr>
<tr><td class="form_header" colspan="2">{LANG[ATTACHMENTS]}</td></tr>
<tr class="cell1">
<td colspan="2">
<div>{LANG[ATTACHINFO]}: {ATTACHMENT_TYPES}</div>
<div id="attachlist" style="padding:3px 0px;">{ATTACHMENTS}</div>
<div><input type="button" name="attach" value="{LANG[ATTACH]}" tabindex="1" onclick="att.manager(0,'{HASH}');" class="button" /></div>
</td>
</tr>{/if}

{* Abonnieren nur möglich, wenn angemeldet *}
{if LOGGED_ID}
<tr><td class="space1" colspan="2">&nbsp;</td></tr>
<tr><td class="form_header" colspan="2">{LANG[SUBSCRIPTION]}</td></tr>
<tr class="cell1">
<td colspan="2">{LANG[SUBSCRIPTION_NOTIFY]}: <select name="subscription" tabindex="1">
<option value=""{if !SUBSCRIPTION} selected="selected"{/if}>{LANG[SUBSCRIPTION_OFF]}</option>
<option value="none"{if SUBSCRIPTION=='none'} selected="selected"{/if}>{LANG[SUBSCRIPTION_NONE]}</option>
<option value="instant"{if SUBSCRIPTION=='instant'} selected="selected"{/if}>{LANG[SUBSCRIPTION_INSTANT]}</option>
<option value="daily"{if SUBSCRIPTION=='daily'} selected="selected"{/if}>{LANG[SUBSCRIPTION_DAILY]}</option>
<option value="weekly"{if SUBSCRIPTION=='weekly'} selected="selected"{/if}>{LANG[SUBSCRIPTION_WEEKLY]}</option>
</select></td>
</tr>
{/if}

<tr><td class="space1" colspan="2">&nbsp;</td></tr>
<tr><td class="form_header" colspan="2">{LANG[OPTIONS]}</td></tr>
<tr class="cell1">
<td colspan="2">
{if SET_CODES}<label for="input_transform_links"><input type="checkbox" name="transform_links" id="input_transform_links" value="1"{if TRANSFORM_LINKS} checked="checked"{/if} tabindex="1" style="vertical-align:middle;" /> {LANG[TRANSFORM_LINKS]}</label><br />
<label for="input_allowcodes"><input type="checkbox" name="allowcodes" id="input_allowcodes" value="1"{if ALLOWCODES} checked="checked"{/if} tabindex="1" style="vertical-align:middle;" /> {LANG[ALLOWCODES]}</label><br />{/if}
{if SET_SMILIES}<label for="input_allowsmilies"><input type="checkbox" name="allowsmilies" id="input_allowsmilies" value="1"{if ALLOWSMILIES} checked="checked"{/if} tabindex="1" style="vertical-align:middle;" /> {LANG[ALLOWSMILIES]}</label><br />{/if}
<label for="input_allowsig"><input type="checkbox" name="allowsig" id="input_allowsig" value="1"{if ALLOWSIG} checked="checked"{/if} tabindex="1" style="vertical-align:middle;" /> {LANG[ALLOWSIG]}</label>
</td>
</tr>

<tr><td class="space2" colspan="2">&nbsp;</td></tr>
<tr><td class="form_footer" colspan="2"><input type="submit" name="send" value="{LANG[NEWPOST]}" tabindex="1" class="button" accesskey="s" /> <input type="submit" name="preview" value="{LANG[PREVIEW]}" tabindex="1" class="button" /></td></tr>
</table>
<input type="hidden" name="id" value="{ID}" />
<input type="hidden" name="hash" value="{HASH}" />
</form>

{if POST}{list POST}{++POSTCOUNT}{/list}
<div style="height:30px;">&nbsp;</div>

<div style="width:100%;{if POSTCOUNT>5}height:300px;overflow:scroll;{/if}">
<div style="padding:1px;">
<table width="100%"><tr><td class="form_header">{LANG[LAST10POSTS]}</td></tr></table>
{list POST}
<div class="space2">&nbsp;</div>
<table width="100%" class="post">
<tr><td class="post_date" colspan="2">{DATE('date',POST.TIME)} - {DATE('time',POST.TIME)} {LANG[CORE_OCLOCK]}</td></tr>
<tr>
<td width="210" class="post_col1" style="vertical-align:top;text-align:center;">{POST.USERNAME}</td>
<td class="post_col2" style="vertical-align:top;">{POST.TEXT}</td>
</tr>
</table>
{/list}
</div>
</div>
{/if}

<script type="text/javascript" src="lib/attachment.js"></script>
<script type="text/javascript">
<!--
var att=new attachment('attachlist');
//-->
</script>