<?xml version="1.0" encoding="{CHARSET}"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<title>apexx - {LANG[CORE_ADMINISTRATION]}</title>
<meta http-equiv="content-Type" content="text/html; charset={CHARSET}" />
</head>

<frameset cols="201,*" frameborder="0" framespacing="0" border="0">
<frame src="navi.php" name="frame_navi" noresize="noresize" />
<frame src="{if SERVER_REQUEST_FRAMEURL}{SERVER_REQUEST_FRAMEURL}{else}action.php{/if}" name="frame_content" />
</frameset>
<noframes>Sorry, your browser does not support frames!</noframes>

</html>