<?xml version="1.0" encoding="{CHARSET}"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<title>apexx - {LANG[CORE_ADMINISTRATION]} | {LANG[CORE_MM]}</title>
<meta http-equiv="content-Type" content="text/html; charset={CHARSET}" />
<link rel="stylesheet" href="design/mm/navi.css" type="text/css" />
</head>
<body>

<div class="border">
<div class="navi"><div>{list NAVI}<img src="design/nav_dot.gif" alt="-" style="vertical-align:middle;" /> <a href="{NAVI.LINK}" target="frame_content">{NAVI.TITLE}</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{/list}</div></div>
</div>

</body>
</html>
