<?xml version="1.0" encoding="{CHARSET}"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<title>apexx - {LANG[CORE_ADMINISTRATION]} | {LANG[CORE_MM]}</title>
<meta http-equiv="content-Type" content="text/html; charset={CHARSET}" />
</head>

<frameset rows="25,*" frameborder="0">
<frame src="explorer.php?displaynavi=1&amp;module={SERVER_REQUEST_MODULE}" name="frame_navi" frameborder="0" scrolling="0" />
<frameset cols="160,*" frameborder="0">
<frame src="explorer.php?module={SERVER_REQUEST_MODULE}" name="frame_navi" frameborder="0" scrolling="1" />
<frame src="action.php?action=mediamanager.index&amp;module={SERVER_REQUEST_MODULE}" name="frame_content" frameborder="0" scrolling="1" />
</frameset>
</frameset>
<noframes>Sorry, your browser does not support frames!</noframes>

</html>