{*

Design für die Druckansicht
===========================

CHARSET = In der Konfiguration festgelegtes Charset
CONTENT = Inhalt der Seite
WEBSITE_NAME = In der Konfiguration festgelegter Seitentitel
WEBSITE_URL = URL/Domain zur Website
CURRENT_URL = URL zur angezeigten Seite

*}
<?xml version="1.0" encoding="{CHARSET}"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<title>apexx -  CMS &amp; Portalsystem | {LANG[CORE_PRINT]}</title>
<meta http-equiv="content-Type" content="text/html; charset={CHARSET}" />
<link rel="stylesheet" href="design/print.css" type="text/css" />
</head>
<body>

<h1><img src="design/logo_print.gif" alt="{WEBSITE_NAME}" title="{WEBSITE_NAME}" /></h1>
<input type="button" name="print" value="{LANG[CORE_PRINT]}" onclick="print();" style="float:right;" />
<ul>
<li><a href="{WEBSITE_URL}">{WEBSITE_URL}</a></li>
<li><a href="{CURRENT_URL}">{CURRENT_URL}</a></li>
</ul>

<hr />

{CONTENT}

<hr />

{DATE('d.m.Y - H:i:s')}

</body>
</html>