{*

Design für Statusnachrichten
============================

CHARSET = In der Konfiguration festgelegtes Charset
CONTENT = Inhalt der Seite (Text der Nachricht)
REDIRECT = URL, zu der weitergeleitet werden soll

*}
<?xml version="1.0" encoding="{CHARSET}"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<title>apexx - CMS &amp; Portalsystem | {LANG[CORE_MESSAGE]}</title>
<meta http-equiv="content-Type" content="text/html; charset={CHARSET}" />
{if REDIRECT}<meta http-equiv="refresh" content="3; URL={REDIRECT}">{/if}
<link rel="stylesheet" href="{BASEREL}design/import.css" type="text/css" />
</head>
<body>

<div class="messagebox">
<table width="100%" align="center">
<tr><td class="header1">{LANG[CORE_MESSAGE]}</td></tr>
<tr><td class="message_text">
{CONTENT}
{if REDIRECT}<p class="message_redirect">&raquo; <a href="{REDIRECT}">{LANG[CORE_FASTREDIRECT]}</a> &laquo;</p>{/if}
</td></tr>
<tr><td class="footer"><img src="{BASEREL}design/1px.gif" width="1" height="1" alt="" /></td></tr>
</table>
</div>

</body>
</html>