{*

Umfrage anzeigen
================

QUESTION = Frage
STARTTIME = Beginn der Umfrage (Timestamp)
ENDTIME = Ende der Umfrage (Timestamp)
META_DESCRIPTION = Meta-Description der Seite, globale Variable somit auch im Design-Template verfügbar

TAG_IDS = Diese Variable ist dafür gedacht an die SIMILAR-Funktionen übergeben zu werden
TAG = Liste aller Tags
TAG.ID = ID des Tags
TAG.NAME = Darstellbarer Name des Tags
TAG.WEIGHT = Gewicht des Tags, Zahl zwischen 0 (geringes Gewicht) und 1 (hohes Gewicht)


Nur eine der beiden folgenden Variablen ist definiert: 
RESULT = Liste der Ergebnisse
OPTION = Liste der Antwortmöglichkeiten


Ergebnisse anzeigen
-------------------
RESULT.ANSWER = Antwort
RESULT.WIDTH = Breite des Anzeigebalkens
RESULT.VOTES = Anzahl der Stimmen
RESULT.COLOR = Zugewiesene Farbe
RESULT.PERCENT = Prozentualer Anteil
TOTALVOTES = Gesamtzahl an Stimmen
SET_VOTED = Besucher hat bereits abgestimmt?
SET_END = Umfrage ist beenden?


Antwortmöglichkeiten auflisten
------------------------------
OPTION.BOX = Auswahlbox
OPTION.ANSWER = Antwort
OPTION.COLOR = Zugewiesene Farbe
POSTTO = Ziel des Formulars
LINK_RESULT = Link: Ergebnis anzeigen


Kommentare (Template includen?)
-------------------------------
DISPLAY_COMMENTS = Kommentare sind erlaubt?
COMMENT_COUNT = Anzahl der Kommentare
COMMENT_LINK = Link zur Kommentar-Seite
Alle Platzhalter finden Sie in der Datei templates/default/comments/comments.html

*}

{if RESULT}

<table width="100%">
<colgroup>
<col width="25%" />
<col width="60%" />
<col width="15%" />
</colgroup>
<tr><td class="header1" colspan="3">{QUESTION|notags}</td></tr>
{list RESULT}
<tr class="color"><td>{RESULT.ANSWER|notags}:</td><td><img src="modules/poll/images/bar.gif" width="{RESULT.WIDTH}" height="11" alt="" style="border:1px solid #F9A280;" /></td><td>{RESULT.PERCENT} ({RESULT.VOTES})</td></tr>
{/list}
<tr><td class="footer" colspan="3">{LANG[VOTES]}: {TOTALVOTES}{if SET_VOTED}<br /><b>{LANG[VOTED]}</b>{elseif SET_END}<br /><b>{LANG[END]}</b>{/if}</td></tr>
</table>

{else}

<form action="{POSTTO}" method="post">
<table width="100%">
<tr><td colspan="2" class="header1">{QUESTION|notags}</td></tr>
{list OPTION}
<tr class="color"><td>{OPTION.BOX}</td><td width="100%">{OPTION.ANSWER|notags}</td></tr>
{/list}
<tr><td colspan="2" class="footer"><input type="submit" name="send" value="{LANG[VOTE]}" class="button" /><br />&raquo; <a href="{LINK_RESULT}">{LANG[RESULTS]}</a> &laquo;</td></tr>
</table>
</form>

{/if}


{if DISPLAY_COMMENTS}
<p>&raquo; <a href="{COMMENT_LINK}">{LANG[COMMENTS]} ({COMMENT_COUNT})</a></p>
{include ../comments/comments.html}
{/if}